* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(175, 114, 64, 0.295);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0.25rem;
  background-color: rgba(230, 112, 16, 0.993);
  border-radius: 0.25rem;
  border: none;
  font-size: 1.1rem;
  text-transform: capitalize;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(8, 8, 8);
  color: rgba(243, 240, 240, 0.993);
}

/*
===========
Quiz Form
===========
*/
.quiz-form-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 500px;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.74);
  text-transform: capitalize;
}

.quiz-form-div h2 {
  margin-bottom: 2rem;
}

.quiz-form {
  display: flex;
  flex-direction: column;
}

.quiz-form input,
select {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  padding: 0.25rem;
  text-transform: capitalize;
}

.error {
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  background-color: rgb(165, 42, 42);
  color: white;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

/*
============
Loading
============
*/

.loading {
  --effect: hover 1s linear infinite;
}

.loading p {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  font-weight: 600;
  transform: scale(0.5);
  color: #121212;
  -webkit-text-stroke: 2px gray;
}

.loading p:nth-child(1) {
  animation: var(--effect);
}

.loading p:nth-child(2) {
  animation: var(--effect) 0.125s;
}

.loading p:nth-child(3) {
  animation: var(--effect) 0.25s;
}

.loading p:nth-child(4) {
  animation: var(--effect) 0.375s;
}

.loading p:nth-child(5) {
  animation: var(--effect) 0.5s;
}

.loading p:nth-child(6) {
  animation: var(--effect) 0.675s;
}

.loading p:nth-child(7) {
  animation: var(--effect) 0.75s;
}

@keyframes hover {
  0% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }

  20% {
    transform: scale(1);
    color: pink;
    -webkit-text-stroke: 3px red;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
      drop-shadow(0 0 3px red) drop-shadow(0 0 5px red) hue-rotate(10turn);
  }

  50% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }
}

/*
==========
Question
==========
*/
.question {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.correct {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.question h3 {
  margin-bottom: 1.5rem;
}

.answers {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
}

.answers button {
  margin: 0.5rem 0;
  background-color: rgba(117, 86, 110, 0.253);
}

.answers button:hover {
  background-color: rgb(41, 95, 6);
}

.skip-btn-container {
  display: flex;
  justify-content: flex-end;
}
.skip-btn-container button {
  margin-top: 1rem;
  margin-left: 8rem;
  width: 100%;
}

/*
===========
Modal
===========
*/

.modal-overlay {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.459);
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.modal {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  max-width: 90vw;
  max-height: 70vh;
  min-width: 70vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

.modal h2 {
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
}

.modal button {
  width: 50%;
  font-size: 3rem;
}
